.box{
            font-size: 100;
            color: black;
            height: 190px;
            padding: 10;
            align-items: center;
           
}

.box:nth-child(2nd) {
    color: #CCC  ;
}

.box:nth-child(odd) {
    color: #AAA ;
}

